* {
    box-sizing: border-box;
  }

.clear{
    clear:left;
}

.Sorry-modal-wrapper{
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height:100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 100;
}

.modal {
    position: absolute;
    top: 20%;
    bottom:50%; 
    left: 20%;
    right: 20%;
    background-color: #e6ecf0;
    padding: 20px 0 40px;
    border-radius: 10px;
    width: auto;
    height: auto;
    text-align: center;
}

.fa-times {
    position: absolute;
    top: 12px;
    right: 12px;
    color: rgba(128, 128, 128, 0.46);
    cursor: pointer;
}

#Sorry-form{
    width: 100%;
    height: 100%;
}

#Sorry-form h2{
    width:100%;
    height: 90%;
    color: #5f5d60;
    font-size: 5vmin;
}


.top_message{
    text-align: center;
}

#greentea774{
    text-align: center;
    margin-bottom: 2%;
}

.contents{
    width:100%;
    padding:0 5%;
    margin: 0 auto;
}
.contents_wrapper{
    width:80%;
    padding:0,5%;
    margin: 0 auto;
    text-align: center;
}

.items{
    padding: 10px 0px;
    margin: 0 1%;
    width:18%;
    background-color:#f7f7f7;
    text-align: center;
    float: left;
    border-radius: 10px;
}

.bottom_messages{
    padding:1%;
    text-align: center;
}

.bottom_message_blank{
    color:white;
    display:block;
}

.bottom_message_twitter{
    color:gray;
    display:none;
}

.bottom_message_github{
    color:gray;
    display:none;
}

.bottom_message_myprofile{
    color:gray;
    display:none;
}

.bottom_message_product{
    color:gray;
    display:none;
}

.bottom_message_blog{
    color:gray;
    display:none;
}

.bottom_border{
    padding:1%;
    border-bottom: 1px solid #c2c7c5;
    text-align: center;
}

footer{
    text-align: center;
    width:100%;
}